* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

main {
    background-color: #70B7F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 955px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container_Login{
    background-color: #fff;
    width: 450px;
    height: 481px;
    border: 4px solid;
    border-radius: 8px;
    border-color: #0023A2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: #0037AB;
    margin-top: 40px;

}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input{
    width: 400px;
    height: 40px;
    background-color: #C4C4C4;
    border: 1px solid;
    border-radius: 8px;
    margin-top: 30px;
}

form button{
    width: 200px;
    height: 50px;
    background-color: #0037AB;
    color: #fff;
    border-radius: 8px;
    border: none;
    margin: 30px 0;
}